<template name="home">
  

 <!-- Hello Geek ,
sorry for this ,but in the version that I hand-in for the challenge I make a mistake. 
In order to make this project to work properly, you should remove the loginStyle: 'redirect' part from /server/configuration.js file (But will not working for iPhones)
In order to make it work with the loginStyle: 'redirect' part you need to implement this code at /client/landing/landing.js -->
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
<!-- Template.landing.onCreated(function() {
 Meteor.call('getFriendsData', function(err, data) {           
                    console.log(data);             
               });
             Meteor.call('getUserData', function(err, data) { console.log(data); });
}); -->


 <!-- THE VERSION OF THE PROJECT AT THIS SITE IS TWO VERSIONS AFTER THE HAND-IN ONE 
   NEW FEATURE:    
 
 === BY PRESSING ANY NAME OF THE SIDEBAR MENU WITHIN THE FRIENDS LIST: CENTER THE MAP ON THE MARKER OF SELECTED FRIEND NOW -->
                                                                                                 
                                                                                       
<div id="wrapper" class="{{menuOpen}} {{cordova}}">
  
    
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand wiped">
                    <a href="/">
                        MeetUFriends
                    </a>
                </li>
  



        <div class="list-todos">
            {{#each friends}}
                  <li class="wiped facebook"> <a class="list-todo {{activePlanClass}} hashroot" title="{{profile.name}}"><img class="radius" src="{{profilepic.location}}"> {{profile.name}} </a></li>          
               
            {{/each}}
            <li class="wiped facebook"><a href="{{pathFor 'landing'}}" class="list-todo {{activePlanClass}}">Info Page</a></li> 

        </div>
      </ul>
   </div>


  {{#unless connected}}
      <div class="notifications">
        <div class="notification">
          <span class="icon-sync"></span>
          <div class="meta">
            <div class="title-notification">Trying to connect</div>
            <div class="description">There seems to be a connection issue</div>
          </div>
        </div>
      </div>
    {{/unless}}
    
    <div class="content-overlay"></div>
    	
       <div id="page-content-wrapper">
      <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid1">
              <a href="#menu-toggle" class="menu-toggle" id="menu-toggle"><i class="fa fa-bars"></i></a>
             
              
             {{#if userName}}
               <a class="list-todo  hashrootnav" title="{{userName}}"><img class="radius radiusnav img-responsive" src="{{userPic}}"> {{userName}} </a><button type="button" name="lock" class="btn {{#if userlock}}btn-danger{{else}}btn-success{{/if}} lock btn-xs">{{#if userlock}}UNLOCK{{else}}LOCK{{/if}}</button> 
               {{/if}}
            
              
              

              <ul class="nav pull-right">
                <li>
                    {{>loginButtons}}
                </li>
            </ul>                
          </div>
       </nav>
      
      <div class="container-fluid">       
                  <div class="row">
                    <div class="col-lg-12 col-md-12">
                    
                        <!-- {{> notifications}} -->
                        
                        <div class="col-md-10">
                          <!-- <div class="col-md-9"><h1>Google Map</h1></div> -->
                          <div class="row">
                            <div class="col-md-11"> <h3 class="maptitle">Google Map<button type="button" name="done" class="btn btn-primary map">REFRESH</button></h3></div>
                           
                          </div>
                            
                          <!-- <div class="col-md-2"><button type="button" name="done" class="btn btn-primary map">REFRESH</button> </div>   -->
                          {{> map}}
                        </div>
                        <!-- <div class="col-md-2">   <button  type="button" name="done" class="btn btn-primary">REFRESH</button> </div>   -->

                     </div> 
                  </div> 
                
               
      </div>    
    </div>

    
</div>          
</template>


